<!-- views/pages/public/about-me.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>

            <div class="jumbotron">
                <h1>A propos</h1>
                <ul>
                    <li>Dorian Souleyreau, 21 ans</li>
                    <li>Etudiant en transition</li>
                    <li>Geek et sportif à la fois</li>
                    <li>Ferru de programmation, JavaScript tout particulièrement</li>
                </ul>
            </div>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>