<!-- views/pages/public/about-me.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>

            <div class="jumbotron">
                <h1>Politique de confidentialité</h1>
                <ul>
                    <li>Pas encore définies !</li>
                </ul>
            </div>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>