<!-- views/pages/public/projects/wizard-escape.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>

            <div class="jumbotron">
                <h2>Conditions d'utilisation</h2>
                <ul>
                    <li>Pas encore définie !</li>
                </ul>
            </div>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>