        </div>
        <footer id="myFooter">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 col-sm-offset-1 myCols">
                        <h5>Découvrir</h5>
                        <ul>
                            <li><a href="/">Accueil</a></li>
                            <li><a href="/auth/signup">S'enregistrer</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1 myCols">
                        <h5>A propos</h5>
                        <ul>
                            <li><a href="/how-am-i">Qui suis-je ?</a></li>
                            <li><a href="/contact-me">Contactez-moi</a></li>
                        </ul>
                    </div>
<!--
                    <div class="col-sm-3 myCols">
                        <h5>Support</h5>
                        <ul>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Help desk</a></li>
                            <li><a href="#">Forums</a></li>
                        </ul>
                    </div>
-->
                    <div class="col-sm-3 col-sm-offset-1 myCols">
                        <h5>Legal</h5>
                        <ul>
                            <li><a href="/tos">Conditions d'utilisation</a></li>
                            <li><a href="/privacy-policy">Politique de confidentialité</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="social-networks">
                <a href="https://github.com/DodoDye/PortfolioV2" class="github"><i class="fa fa-github"></i></a>
                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="google"><i class="fa fa-google-plus"></i></a>
            </div>
            <div class="footer-copyright">
                <p>© <%= locals.yearCreated %> Copyright <%= locals.appName %> - <%= locals.companyName %> </p>
            </div>
        </footer>