    <head>
        <!-- Page settings -->
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="fr-fr">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href=<%= locals.baseUrl + 'public/' %> />
        <title><%= locals.appName %></title>
        
        <!-- Meta Tags -->
        <meta name="description" content="Portfolio de mes projets web/logiciel">
        <meta name="author" content="Dorian Souleyreau" />
        <meta name="keywords" content="portfolio nodejs" />

        <!-- Static Assets -->
        <link type="image/x-icon" rel="icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href="css/app.css" />
        
        <!-- Frameworks -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    </head>