    <head>
        <meta charset="utf-8">
        <meta http-equiv="content-language" content="fr-fr">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base href=<%= locals.baseUrl + 'public/' %> />

        <title><%= locals.appName %></title>
        <!-- Meta Tags -->
        <meta name="description" content="">
        <meta name="author" content="" />
        <meta name="keywords" content="" />

        <!-- Static Assets -->
        <link type="image/x-icon" rel="icon" href="favicon.ico">
<!--        <script type="text/javascript" charset="utf-8" src="public/init.js"></script>-->
        <link rel="stylesheet" type="text/css" href="app.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body {
/*                padding-top: 20px;*/
                word-wrap: break-word;
            }
            .login .btn {
                margin: 10px auto;
            }
        </style>
    </head>