<!-- views/pages/public/projects/wizard-escape.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>

        <div class="jumbotron">
            <h1>Wizard Escape</h1>
            <p>
            Ce jeu est un jeu de plateforme multijoueur de mon projet de Bac S option ISN, en binôme avec Tijaïha Guerry.<br>
            Développé en Python 3, l'affichage du jeu était basé sur des fichiers texte représentant les donjons à parcourir.<br>
            En 1ere année de DUT R&amp;T, le jeu a évolué, développé en C. Il était couplé à une base de données MySQL afin de le rendre multijoueur.<br>
            La page web ci-dessous permettait aux utilisateurs de se renseigner sur le jeu, le télécharger et créer un compte pour jouer.<br>
            </p>
        </div>
        
        <iframe src="wizard-escape.html" width="100%" onload="this.style.height=this.contentDocument.body.scrollHeight +'px';" frameborder="0" scrolling="auto"></iframe>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>