<!-- views/pages/404.ejs -->
<!doctype html>
<html>
    <%- include(locals.rootPath + '/partials/head') %>
    <body>
        <%- include(locals.rootPath + '/partials/header') %>

            <div class="col-sm-6 col-sm-offset-3">

                <h1>404 <span class="fa fa-exclamation"></span></h1>

                <div class="alert alert-danger"><strong>/<%= link %></strong> introuvable.</div>

                <hr>
                
                <p>Pas encore de compte ? <a href="/auth/signup">S'enregistrer</a></p>
                <p>Ami de Facebok ou de Google ? <a href="/auth">Se connecter</a></p>
                <p>Retourner à l'<a href="/">Accueil</a></p>

            </div>

        <%- include(locals.rootPath + '/partials/footer') %>
    </body>
</html>