<!-- views/pages/index.ejs -->
<!doctype html>
<html>
    <% include ../partials/head %>
    <body>
        <% include ../partials/header %>

            <div class="col-sm-6 col-sm-offset-3">
                <div class="well">
                    <h2>Avez-vous remarqué que ce site ?</h2>
                    <ul>
                        <li>Est accessible en HTTPS seulement, avec un certificat valide</li>
                        <li>Possède un nom de domaine, comme tous les sites à volonté publique</li>
                        <li>Permet de se créer un compte ou de se connecter par plusieurs moyens</li>
                    </ul>
                    <h2>Ce que vous ne pouvez pas voir</h2>
                    <ul>
                        <li>Il est hébergé derrière une box privée</li>
                        <li>Cette page est servie par un serveur tournant sur un Raspberry Pi 3</li>
                        <li>Il est développé sous Node JS</li>
                    </ul>
                    <h2>Pourquoi présenter tout ceci ?</h2>
                    <ul>
                        <li>Concentrer mes principales compétences professionnelles en un seul projet</li>
                        <li>Mettre en pratique deux formations récentes sur Node JS</li>
                        <li>Faire original, pourquoi pas ?</li>
                    </ul>
                    <h2>Projet professionnel</h2>
                    <ul>
                        <li>Première expérience (en cours) en tant que Développeur Web au <a href="https://ecollectivitesvendee.fr/">Syndicat mixte e-Collectivités Vendée</a></li>
                        <li>Dossier en cours pour la formation <a href="http://www.enssat.fr/fr_FR/formations/formation-ingenieur-par-apprentissage">Ingénieur Informatique, Multimédia et Réseaux par apprentissage</a> à l’ENSSAT</li>
                    </ul>
                    <h2>Rien à ajouter ?</h2>
                    <ul>
                        <li>Remerciements à <a href="http://www3.futaie.org:4281/~guerryt/portfolioV2/">Tijaïha Guerry</a> pour sa participation (coéquipier depuis 5 ans)</li>
                        <li>Basé sur les cours :
                            <ul>
                                <li><a href="https://pirple.thinkific.com/courses/the-nodejs-master-class">The Node Master Class - Pirple</a> (no framework)</li>
                                <li><a href="https://www.youtube.com/playlist?list=PLZm85UZQLd2Q946FgnllFFMa0mfQLrYDL">Brent Aureli - NodeJS Tutorial</a> (Express.js)</li>
                            </ul>
                        </li>
                        <li>Code source et avancements disponibles sur <a href="https://github.com/DodoDye/Portfolio">GitHub</a></li>
                    </ul>
                </div>

            </div>

        <% include ../partials/footer %>
    </body>
</html>