<!-- views/pages/profile.ejs -->
<!doctype html>
<html>
    <% include ../partials/head %>
    <body>
        <% include ../partials/header %>

            <div class="page-header text-center">
                <h1 class="title"><span class="fa fa-anchor"></span> Profile</h1>
                <a href="/auth/logout" class="btn btn-default btn-sm">Déconnexion</a>
            </div>
            
            <div class="row">
                <div class="col-sm-6">
                    <div class="well">
                    <% if(user && user.auth == 'local') { %>
                        <!-- LOCAL INFORMATION -->
                        <h2 class="text"><span class="fa fa-user"></span> Local</h2>
                    <% } %>
                    <% if(user && user.auth == 'facebook') { %>
                        <!-- FACEBOOK INFORMATION -->
                        <h2 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h2>
                    <% } %>
                    <% if(user && user.auth == 'google') { %>
                        <!-- FACEBOOK INFORMATION -->
                        <h2 class="text-danger"><span class="fa fa-google-plus"></span> Google</h2>
                    <% } %>
                    <% if(user && user.auth == 'linkedin') { %>
                        <!-- FACEBOOK INFORMATION -->
                        <h2 class="text-info"><span class="fa fa-linkedin"></span> LinkedIn</h2>
                    <% } %>
                        <p>
<!--                            <strong>id</strong>: <%= user.user_id %><br>-->
                            <strong>email</strong>: <%= user.email %><br>
                            <strong>nom</strong>: <%= user.name %>
                        </p>

                    </div>
                </div>
            </div>

        <% include ../partials/footer %>
    </body>
</html>